 
*{
    margin: 0px ;
    padding: 0px ;
}

body{
    background: #293f50;
}
#head{
    margin: 0px;
    padding: 0px;
    background: #293f50;
    height: 200px;
}
#head .main h5{
    float: left;
    color: #ffffff;
    padding-top: 40px;
    padding-left: 50px;
    font-size:35px;
}
#head .main span{
    color: crimson;
}
#head .main h3 {
    float:right ;
    padding-top: 20px;
    color:grey;
    font-size: 20px;
    padding-right: 190px;
}
.nav-bar ul{
  float: right;
  padding-top: 60px;
  display: block;
  list-style-type: none;
}
.nav-bar li{
    display: inline;    
    padding-top: 50px;
    padding-left: 6px;
    color: #ffffff;
    text-decoration: none;
}
.nav-bar a{
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    padding-left: 40px;
}
#sec{
    background:#cbe2c1;
    height: 180px;
}
#sec h1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color:#648880;
  font-size: 3rem;
  font-weight: 300;

}
#sec p{
    text-align: center;
    font-size: 30px;
    color: grey;
    line-height: 30px;
}
#content{
    background: #ffffff;
    padding: 65px 0px 45px 0px;
    height: 1400px;
}
.aron {
    padding-left: 40px;
}
.aron  h3{
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
    color:#648880;
}
.aron h5{
      padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
    color:#648880;
}
.aron h4{
    color: #a8adb5;
    padding-top: 20px;
    font-size: 20px;
}
.aron p{
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}
.aron .img{
    float: right;
}
/* adam */
.adam{
    padding-left: 40px;
    padding-top: 80px;
}
.adam h3{
    font-weight: 300;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 40px;
    color:#648880;
}
.adam h5{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 26px;
    color:#648880;
}
.adam p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}
.adam h4{
    color: #a8adb5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.arman{
    padding-left: 40px;
}
.arman h3{
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 40px;
    color:#648880;
    font-weight: 300;
}
.arman h4{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 26px;
    color:#648880; 
}
.arman p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}
#fot small{
 float: left;
 padding-top: 20px;
 padding-left: 40px;
}
#fot .mn{
    float: right;

}
#fot .mn ul{
    display: block;
    list-style-type: none;
    padding-right: 50px;
    padding-top: 20px;
}
#fot .mn li{
    display: inline;
   font-weight: 200;
}
#fot .mn a{
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    padding-left: 8px;
    font-weight: 200;
}
